name: CI

on:
  push:
    branches: main
    tags:
      - "omgidl-parser/v*"
      - "omgidl-serialization/v*"
      - "ros2idl-parser/v*"
  pull_request:
    branches: "*"

jobs:
  all:
    name: all
    runs-on: ubuntu-latest

    permissions:
      contents: read
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - run: corepack enable yarn

      - uses: actions/setup-node@v6
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --frozen-lockfile

      - run: yarn run build
      - run: yarn run lint:ci
      - run: yarn run test

      - name: Publish `omgidl-parser` to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/omgidl-parser/v') }}
        run: yarn workspace @foxglove/omgidl-parser npm publish --provenance --access public

      - name: Publish `omgidl-serialization` to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/omgidl-serialization/v') }}
        run: yarn workspace @foxglove/omgidl-serialization npm publish --provenance --access public

      - name: Publish `ros2idl-parser` to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/ros2idl-parser/v') }}
        run: yarn workspace @foxglove/ros2idl-parser npm publish --provenance --access public
