name: CI

on:
  push:
    branches: main
    tags:
      - "omgidl-parser/v*"
      - "omgidl-serialization/v*"
      - "ros2idl-parser/v*"
  pull_request:
    branches: "*"

jobs:
  all:
    name: all
    runs-on: ubuntu-latest

    permissions:
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - run: corepack enable yarn

      - uses: actions/setup-node@v6
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install --frozen-lockfile

      - run: yarn run build
      - run: yarn run lint:ci
      - run: yarn run test

      - run: yarn workspace @foxglove/omgidl-parser pack
      - name: Publish `omgidl-parser` to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/omgidl-parser/v') }}
        # `yarn npm publish` does not currently support --provenance: https://github.com/yarnpkg/berry/issues/5430
        run: npm publish packages/omgidl-parser/package.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}

      - run: yarn workspace @foxglove/omgidl-serialization pack
      - name: Publish `omgidl-serialization` to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/omgidl-serialization/v') }}
        # `yarn npm publish` does not currently support --provenance: https://github.com/yarnpkg/berry/issues/5430
        run: npm publish packages/omgidl-serialization/package.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}

      - run: yarn workspace @foxglove/ros2idl-parser pack
      - name: Publish `ros2idl-parser` to NPM
        if: ${{ startsWith(github.ref, 'refs/tags/ros2idl-parser/v') }}
        # `yarn npm publish` does not currently support --provenance: https://github.com/yarnpkg/berry/issues/5430
        run: npm publish packages/ros2idl-parser/package.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
